body {
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif
}

.user-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 20%;
  background-color: purple;
  border: 2px solid purple;
  
}

#user-avatar {
  margin: 3rem 0;
  height: 10rem;
  width: 7rem;
  background-color: white;
  border-radius: 50%;
}

.user-button {
  padding: 9px 18px;
  border-radius: 5px;
  background-color: goldenrod;
}

p {
  color: white;
}

#userRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  background-color: rgb(159, 116, 164);
}

.added-user-color-red {
  background-color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: -3rem;
  right: -1.5rem;
  text-align: center;
  background-color: purple;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* padding: 12px 16px; */
  z-index: 1;
}

.dropdown-content .color-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: .5rem;
}

.dropdown-content .color-row p {
  width: 2.5rem;
  height: 2rem;
  border-radius: 2px;
  border: 1px solid black;
}


.dropdown-content .color-row #red {
  background-color: red;
}

.dropdown-content .color-row #blue {
  background-color: blue;
}

.dropdown-content .color-row #green {
  background-color: green;
}

.dropdown-content .color-row #yellow {
  background-color: yellow;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h5 {
  margin-bottom: 4rem;
}

#bookshelf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: .5rem;
  height: 65%;
  width: 35%;
  background-color: rgba(84, 26, 26, 0.527);
  box-shadow: 5px .5px 14px black;
}

.shelf {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: flex-end;
  width: 85%;
  height: 22%;
  box-shadow: 4px 8px 16px 4px rgba(40, 10, 10, 0.527) inset;
  background-color:rgba(58, 16, 16, 0.527);
}

p {
  color: black;
  padding-bottom: 10px;
  margin: 0;
}


.selected {
  box-shadow: 0 0 15px 5.3px rgb(39, 7, 2);
  isolation: isolate;
}

.purple {
  background-color: purple;
  width: 35px;
  height: 70px;
  border: 1px solid rgb(57, 8, 61);
  border-radius: 2.5px;
}

.purple:hover, .purple:focus {
  width: 45px;
  height: 100px;
  box-shadow: -6px 16px 10px rgb(58, 2, 58);
}

.purple p {
  color: black;
  width: 100%;
  height: 100%;
  padding: 2px;
  font: .45rem "Fira Sans", sans-serif;
  text-shadow: 0px 2px 3px rgba(203, 94, 21, 0.765);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.purple p:hover, .red p:focus {
  transform: rotate(90deg);
  font: 10px/2 cursive;
  line-height: 15px;
  letter-spacing: 3px;
  font-weight: bold;
  width: 250%;
  height: 100%;
  margin: 0 0 0 -60px;
  overflow: auto;
}

.yellow {
  background-color: yellow;
  width: 45px;
  height: 60px;
  border: 1px solid rgb(68, 65, 16);
  border-radius: 2.5px;
}

.yellow:hover, .yellow:focus {
  width: 55px;
  height: 100px;
  box-shadow: -6px 16px 15px rgb(76, 59, 2);
}

.yellow p {
  color: black;
  width: 100%;
  height: 100%;
  padding: 2px;
  font: .45rem "Fira Sans", sans-serif;
  text-shadow: 0px 2px 3px rgba(203, 94, 21, 0.765);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.yellow p:hover, .red p:focus {
  transform: rotate(90deg);
  font: 10px/2 cursive;
  line-height: 15px;
  letter-spacing: 3px;
  font-weight: bold;
  width: 250%;
  height: 100%;
  margin: 0 0 0 -60px;
  overflow: auto;
}

.red {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(221, 41, 41);
  width: 51px;
  height: 72px;
  border: 1px solid rgb(88, 18, 29);
  border-radius: 2.5px;
  text-align: center;
}

.red:hover, .red:focus {
  width: 61px;
  height: 112px;
  box-shadow: 0 0 15px 5.3px rgb(39, 7, 2);
  isolation: isolate;
}

.red p {
  color: black;
  width: 100%;
  height: 100%;
  padding: 2px;
  font: .45rem "Fira Sans", sans-serif;
  text-shadow: 0px 2px 3px rgba(203, 94, 21, 0.765);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.red p:hover, .red p:focus {
  transform: rotate(90deg);
  font: 10px/2 cursive;
  line-height: 15px;
  letter-spacing: 3px;
  font-weight: bold;
  width: 250%;
  height: 100%;
  margin: 0 0 0 -60px;
  overflow: auto;
}

.blue {
  background-color: rgb(64, 64, 211);
  width: 40px;
  height: 63px;
  border: 1px solid rgb(21, 9, 52);
  border-radius: 2.5px;
}

.blue:hover, .blue:focus {
  width: 50px;
  height: 93px;
  box-shadow: 0 0 15px 5.3px rgb(14, 3, 32);
  isolation: isolate;
}

.blue p {
  color: white;
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
  padding: 2px;
  font: .45rem "Fira Sans", sans-serif;
  text-shadow: 0px 2px 3px rgba(92, 95, 163, 0.765);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.blue p:hover, .red p:focus {
  transform: rotate(90deg);
  font: 9px/2 italic;
  letter-spacing: 3px;
  line-height: 15px;
  font-weight: bold;
  width: 250%;
  height: 100%;
  margin: 8px 0 0 -60px;
  overflow: auto;
}

.green {
  background-color: green;
  width: 30px;
  height: 50px;
  border: 1px solid rgb(88, 18, 29);
  border-radius: 2.5px;
}

.green:hover, .green:focus {
  width: 40px;
  height: 80px;
  box-shadow: -6px 16px 15px;
  box-shadow: 0 0 15px 5.3px rgb(1, 47, 19);
  isolation: isolate;
}

.green p {
  width: 100%;
  height: 100%;
  color: #3d2f2f;
  font: .55rem "Fira Sans", sans-serif;
  margin-right: 7px;
  text-shadow: 0px 2px 3px rgba(203, 94, 21, 0.765);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.orange {
  background-color: orange;
  width: 43px;
  height: 58px;
  border: 1px solid rgb(88, 18, 29);
  border-radius: 2.5px;
}

.orange p {
  margin-right: 20px;
}

.orange:hover, .orange:focus {
  width: 53px;
  height: 80px;
  box-shadow: -6px 16px 15px rgb(76, 59, 2);
}

.blue p:hover, .red p:focus {
  transform: rotate(90deg);
  font: 9px/2 italic;
  letter-spacing: 3px;
  line-height: 15px;
  font-weight: bold;
  width: 250%;
  height: 100%;
  margin: 8px 0 0 -60px;
  overflow: auto;
}

article {
  display: flex;
  justify-content: center;
  overflow: auto;
}

article:hover, article:focus {
  display: flex;
  justify-content: center;
  font-size: medium;
} 

:root {
  background: rgba(165, 42, 42, 0.82);
}

footer {
  padding: 1.5% 0;
  text-align: center;
  width: 100%;
  background-color: rgba(163, 135, 46, 0.54);
  box-shadow: 4px -14px 25px rgba(88, 73, 24, 0.54);
  font-weight: 900;
  letter-spacing: 1.3rem;
  text-shadow: .1rem .1rem rgba(88, 73, 24, 0.54);
}

/* .book-title {
  transform: rotate(90deg);
  text-align: center;
  background-color: #3d2f2f;
  font: 15px 'Futura';
  text-shadow: 0px 2px 3px rgba(203, 94, 21, 0.765);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
} */

.hidden {
  display: none;
}
