body {
  display: flex;
  margin: 0;
  height: 100vh;
}

.user-aside {
  width: 20%;
  background-color: purple;
  border: 2px solid purple;
}

#room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  background-color: rgb(159, 116, 164);
}

#bookshelf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: .5rem;
  height: 65%;
  width: 35%;
  background-color: rgba(84, 26, 26, 0.527);
  box-shadow: 4px 1px 18px black;
}

.shelf {
  width: 85%;
  height: 22%;
  box-shadow: 4px 8px 16px 4px rgba(40, 10, 10, 0.527) inset;
  background-color:rgba(58, 16, 16, 0.527);
}

footer {
  width: 100%;
  height: 10%;
  background-color: white;
}