body {
  display: flex;
  margin: 0;
  height: 100vh;
}

.user-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 20%;
  background-color: purple;
  border: 2px solid purple;
  
}

#user-avatar {
  margin: 3rem 0;
  height: 10rem;
  width: 7rem;
  background-color: white;
  border-radius: 50%;
}

.user-button {
  padding: 9px 18px;
  border-radius: 5px;
  background-color: goldenrod;
}

p {
  color: white;
}

#room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  background-color: rgb(159, 116, 164);
}

#bookshelf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: .5rem;
  height: 65%;
  width: 35%;
  background-color: rgba(84, 26, 26, 0.527);
  box-shadow: 5px .5px 14px black;
}

.shelf {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: flex-end;
  width: 85%;
  height: 22%;
  box-shadow: 4px 8px 16px 4px rgba(40, 10, 10, 0.527) inset;
  background-color:rgba(58, 16, 16, 0.527);
}

footer {
  padding: 1.5% 0;
  text-align: center;
  width: 100%;
  background-color: rgba(163, 135, 46, 0.54);
  box-shadow: 4px -14px 25px rgba(88, 73, 24, 0.54);
  font-weight: 900;
  letter-spacing: 1.3rem;
  text-shadow: .1rem .1rem rgba(88, 73, 24, 0.54);
}

p {
  color: black;
  padding-bottom: 10px;
  margin: 0;
}

.purple {
  background-color: purple;
  width: 35px;
  height: 70px;
  border: 1px solid rgb(57, 8, 61);
  border-radius: 2.5px;
}

.purple:hover, .purple:focus {
  width: 45px;
  height: 100px;
  box-shadow: -6px 16px 10px rgb(58, 2, 58);
}

.yellow {
  background-color: yellow;
  width: 45px;
  height: 60px;
  border: 1px solid rgb(68, 65, 16);
  border-radius: 2.5px;
}

.yellow:hover, .yellow:focus {
  width: 55px;
  height: 100px;
  box-shadow: -6px 16px 15px rgb(76, 59, 2);
}

.red {
  background-color: rgb(221, 41, 41);
  width: 51px;
  height: 72px;
  border: 1px solid rgb(88, 18, 29);
  border-radius: 2.5px;
}

.red:hover, .red:focus {
  width: 61px;
  height: 112px;
  box-shadow: -6px 16px 15px rgb(39, 7, 2);
}

.blue {
  background-color: rgb(64, 64, 211);
  width: 40px;
  height: 63px;
  border: 1px solid rgb(21, 9, 52);
  border-radius: 2.5px;
}

.blue:hover, .blue:focus {
  width: 50px;
  height: 93px;
  box-shadow: -6px 16px 15px rgb(14, 3, 32);
}

.green {
  background-color: green;
  width: 30px;
  height: 50px;
  border: 1px solid rgb(88, 18, 29);
  border-radius: 2.5px;
}

.green:hover, .green:focus {
  width: 40px;
  height: 80px;
  box-shadow: -6px 16px 15px rgb(1, 47, 19);
}

.orange {
  background-color: orange;
  width: 43px;
  height: 58px;
  border: 1px solid rgb(88, 18, 29);
  border-radius: 2.5px;
}

.orange:hover, .orange:focus {
  width: 53px;
  height: 80px;
  box-shadow: -6px 16px 15px rgb(76, 59, 2);
}

article {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

article:hover, article:focus {
  display: flex;
  justify-content: center;
  font-size: medium;
} 

.book-title {
  transform: rotate(90deg);
  text-align: center;
  margin-right: 55px;
  text-shadow: 1px 1px 1px rgb(88, 82, 82);
}

.hidden {
  display: none;
}